<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Library.Application.Web</title>

    <environment names="Development">
        <link rel="stylesheet" type="text/css" href="~/dist/bundle.css">
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" type="text/css" href="~/dist/bundle.css">
    </environment>
    @RenderSection("Styles", required: false)

    <environment names="Development">
        <script src="~/dist/bundle.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/dist/bundle.js" asp-append-version="true"></script>
    </environment>
    @RenderSection("Scripts", required: false)
</head>
<body>
    <partial name="_NavigationPartial" />

    <partial name="_CookieConsentPartial" />

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2018 - Library.Application.Web</p>
        </footer>
    </div>
</body>
</html>
