@inject BookGroupService BookGroupService
@inject NavigationManager NavigationManager

<EditForm Model="@CreateBookGroupRequest" OnValidSubmit="@CreateBookGroup">
    <ValidationSummary />
    <PeterLeslieMorris.Blazor.Validation.Validate />
    <FieldEditorForString @bind-Value="CreateBookGroupRequest.Name"></FieldEditorForString>
    <div class="btn-group float-right" role="group">
        <button class="btn btn-primary" type="submit">@Resources.Action_Create</button>
    </div>
</EditForm>

@code {
    [Parameter] public Book Book { get; set; }
    private CreateBookGroupRequest CreateBookGroupRequest = new CreateBookGroupRequest();

    private void CreateBookGroup()
    {
        BookGroupService.CreateBookGroup(CreateBookGroupRequest, Book);
        NavigationManager.NavigateTo($"Books/Read/{Book.Id}", true);
    }
}
