@model Library.Application.Web.Views.Books.BookDetailsModel

<h2>Delete Book</h2>

<dl class="row">
    <dt class="col-sm-3">@DomainResources.Book_Title</dt>
    <dd class="col-sm-9">@Model.Title</dd>
    <dt class="col-sm-3">@DomainResources.Book_Author</dt>
    <dd class="col-sm-9">@Model.Author</dd>
</dl>