@Html.AntiForgeryToken()
<script>
    $(document).ready(function () {
        window.Books.initList();
    });
</script>

<h2>
    @WebResources.Home_Index_MyBooks
    <a class="btn btn-primary" asp-action="Create" asp-controller="Books"><i class="fa fa-plus"></i></a>
</h2>

<table id="book-table" class="table table-striped">
    <thead>
        <tr>
            <th>@* Invisible column *@</th>
            <th scope="col" class="col-6">@DomainResources.Book_Title</th>
            <th scope="col" class="col-2">@DomainResources.Book_Author</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>
