@model Library.Application.Web.Views.Books.BookListViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h2>@Resources.Home_Index_MyBooks</h2>
</div>

<partial name="BookListPartial" for="Books" />