@using Library.Application.Web.Properties
@model Library.Application.Web.Views.Books.BookListViewModel
@{
    ViewData["Title"] = "Home Page";
}

<h2>@Resources.Home_Index_MyBooks</h2>
<partial name="BookListPartial" for="Books" />