@using Library.Application.Web.Properties
@model Library.Application.Web.Views.Home.HomeModel
@{
    ViewData["Title"] = "Home Page";
}
<nav  class="nav nav-tabs nav-justified" aria-orientation="vertical">
    <a class="nav-item nav-link active" data-toggle="tab" href="#home">@Resources.Home_Index_MyBooks</a>
    <a class="nav-item nav-link" data-toggle="tab" href="#wishlist">@Resources.Home_Index_MyWishlist</a>
</nav>

<div class="tab-content">
    <div id="home" class="tab-pane active">
        <h2>@Resources.Home_Index_MyBooks</h2>
        
        <partial name="BookListPartial" for="MyBooks" />
    </div>
    <div id="wishlist" class="tab-pane fade">
        <h2>@Resources.Home_Index_MyWishlist</h2>

        <partial name="BookListPartial" for="MyWishList" />
    </div>
</div>

