<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Library Application</title>

    <environment>
        <link rel="stylesheet" type="text/css" href="~/dist/bundle.css">
    </environment>
    @RenderSection("Styles", required: false)

    <environment>
        <script src="~/dist/bundle.js"></script>
    </environment>
    @RenderSection("Scripts", required: false)
    <script>
        window.Layout.Layout.init();
    </script>
</head>
<body>
    <partial name="Layout/_NavigationPartial" />

    @*<partial name="Layout/_CookieConsentPartial"/>*@

    <div class="container">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2019 - Library Application</p>
        </footer>
    </div>
</body>
</html>
