CREATE TABLE [dbo].[BookGroup](
	[Id] [uniqueidentifier] NOT NULL
	,[Name] NVARCHAR(450) NOT NULL
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[Book] ADD [IsBookGroup] BIT NULL
GO
UPDATE [Book] SET [IsBookGroup] = 0
GO
ALTER TABLE [dbo].[Book] ALTER COLUMN [IsBookGroup] BIT NOT NULL
GO

ALTER TABLE [dbo].[Book] ADD [BookGroup_id] [UNIQUEIDENTIFIER] NULL
GO

ALTER TABLE [dbo].[Book]  WITH CHECK ADD  CONSTRAINT [FK_Book_BookGroup] FOREIGN KEY([BookGroup_id])
REFERENCES [dbo].[BookGroup] ([Id])
GO

ALTER TABLE [dbo].[Book] CHECK CONSTRAINT [FK_Book_BookGroup]
GO