@inherits EditorOptionsForString

<div class="editor-line">
    @if (LabelOverride != null)
    {
        <label class="editor-label">@LabelOverride</label>
    }
    else
    {
        <label class="editor-label">@GetDisplayName()</label>
    }
    @if (FieldOverride != null)
    {
        <div class="editor-field">
            @FieldOverride
        </div>
    }
    else
    {
        <div class="editor-field">
            <EditorForString @bind-Value="@Value" IsTextArea="@IsTextArea"></EditorForString>
        </div>
    }
    <ValidationMessage For="ValueExpression"></ValidationMessage>
</div>


@code {
    [Parameter] public RenderFragment LabelOverride { get; set; }
    [Parameter] public RenderFragment FieldOverride { get; set; }
}
