@using Library.Application.Web.Views.NewsMessages
@model ListModel
<section>
    @foreach (var newsMessage in Model.NewsMessages)
    {
        <div>
            <h4>@newsMessage.Title</h4>
            <div>@newsMessage.Message</div>
        </div>
    }
</section>