//Variabels
@import "Variabels.scss";

//Bootstrap overrides
@import "BootstrapTheme.scss";

//NPM package style
$fa-font-path: "~@fortawesome/fontawesome-free/webfonts";
@import "@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "@fortawesome/fontawesome-free/scss/solid.scss";

.row{
    margin-bottom: 1.5em;
}

.header {
    background-color: $library-primary;
    color: $library-white;
    padding: 5px 20px;
}