//Variabels
@import "Variabels.scss";

//Bootstrap overrides
@import "BootstrapTheme.scss";

//NPM package style
$fa-font-path: "~@fortawesome/fontawesome-free/webfonts";
@import "@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "@fortawesome/fontawesome-free/scss/solid.scss";

//Application style
@import "../../Views/Shared/DataTables/DataTables.scss";


.row{
    margin-bottom: 1.5em;
}

.header {
    background-color: $library-primary;
    color: $library-white;
    padding: 5px 20px;
}

.dataTables_length:nth-child(1) {
    float: left;
    margin-top: $size-sm;
}

.dataTables_length:nth-child(4) {
    float: left;
    margin-top: $size-md;
}
