//Colors
$library-primary: #01689b;
$library-secondary: #6c757d;
$library-info: #DEE9EE;
$library-light: #F3F3F3;
$library-medium: #E6E6E6;
$library-medium-dark: #CCCCCC;
$library-white: white;
$library-text-default: #333333;
$library-text-gray: darken($library-light, 37.5%);
$eHerkenning: #DE0367;
$library-primary-light: lighten($library-primary, 10%);
$library-primary-extra-light: lighten($library-primary, 65%);
$library-maintenance-background: #94710a;
$library-maintenance-foreground: #efeada;

//Sizes
$size_xxs: .125rem;
$size_xs: .25rem;
$size_sm: .375rem;
$size_md: .75rem;
$size_lg: 1.5rem;
$size_xl: 3rem;